header {
  color: var(--primary-color);
  height: 5rem;
  padding: 0.5rem 1rem 0rem 1rem;
  font-weight: bold;
}

header ul {
  display: flex;
}

header a {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: var(--primary-color);
}

header a:hover {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: var(--primary-color);
}

header div {
  display: inline-block;
}
.logo {
  font-size: 2em;
  font-weight: bolder;
  padding-left: 2em;
  margin: 0;
}

.logo img {
  width: 10%;
}

header .fa {
  font-size: x-large;
}

header .cart {
  color: var(--primary-color);
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 14px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--light-color);
  padding: 2px 5px;
  vertical-align: top;
  margin-left: -5px;
}

.profile-icon {
  position: relative;
}

.profile-icon .fa-circle {
  color: lightskyblue;
  position: absolute;
  font-size: 10px;
  top: 2px;
  left: 9px;
}

@media screen and (max-width: 860px) {
  .logo {
    display: none;
  }

  header {
    height: 4rem;
  }

  header a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  header .fa {
    font-size: large;
  }
}
